.card {
    padding: 1em;
    width: fit-content;
    margin-top: .5em;
    background-color: var(--grey);
    flex-direction: column;
    justify-content: space-between;
}

.capa {
    width: 250px;
}

.container h2, .favoritar {
    padding: 0 1em;
}

.favoritar {
    width: 25px;
}